.card-form {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    padding: 30px;
}

.login-form .h5-login {
    text-align: center;
    margin-bottom: 20px;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-left {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    background-color: #ffffff;
}

.left-text {
    margin-bottom: 48px;
}

.btn-santri {
    margin-top: 40px;
    width: 100%;
    height: 45px !important;
    background: #049F67 !important;
    color: white !important;
}

.btn-hover-santri {
    border-color: transparent
}

.btn-hover-santri:hover,
.btn-hover-santri:focus,
.btn-hover-santri:active {
    background-color: rgba(4, 159, 103, 0.1) !important;
    color: #2EAF80 !important;
    border-color: transparent
}

.btn-hover-santri.text-primary:hover,
.btn-hover-santri.text-primary:focus {
    color: #049F67 !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .app {
        flex-direction: column-reverse;
    }

    .auth-right {
        width: 100%;
        height: 50%;
        background-color: #038456;
        background-image: url('../image/student.jpg');
        background-position: center;
        background-size: cover;
    }

    .auth-right-admin {
        width: 100%;
        height: 50%;
        background-color: #038456;
        background-image: url('../image/admin.jpg');
        background-position: center;
        background-size: cover;
    }
    
    .auth-right-teacher {
        width: 100%;
        height: 50%;
        background-color: #038456;
        background-image: url('../image/teacher.jpg');
        background-position: center;
        background-size: cover;
    }

    .left-top {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .app {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row !important;
    }

    .auth-right {
        width: 100%;
        height: 100%;
        background-color: #038456;
        background-image: url('../image/student.jpg');
        background-position: center;
    }

    .auth-right-admin {
        width: 100%;
        height: 100%;
        background-color: #038456;
        background-image: url('../image/admin.jpg');
        background-position: center;
    }

    .auth-right-teacher {
        width: 100%;
        height: 100%;
        background-color: #038456;
        background-image: url('../image/teacher.jpg');
        background-position: center;
    }

    .auth-left {
        width: 100%;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 80px 0 80px;
    }

    .left-top {
        display: block;
    }

    .left-top img {
        width: 200px;
    }
}